@using Microsoft.AspNetCore.Identity
@using FashionShop.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    
    ViewData["Title"] = "Home Page"; 
    
}
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/flex-slider.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/font-awesome.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/lightbox.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/owl-carousel.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/templatemo-hexashop.css" asp-append-version="true" />

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>Chúng tôi là FashionShop</h4>
                            <span>Thời trang mới, sáng tạo &amp; phong cách</span>
                            <div class="main-border-button">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="AboutOur">Về chúng tôi</a>
                            </div>
                        </div>
                        <img src="~/assets/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Phụ nữ</h4>
                                        <span>Thời trang đẹp nhất cho phụ nữ</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Phụ nữ</h4>
                                            <p>Thời trang đỉnh cao giúp bạn tự tin tỏa sáng trong mọi khoảnh khắc.</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Khám phá thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Nam</h4>
                                        <span>Thời trang đẹp nhất cho nam</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Nam</h4>
                                            <p>Cảm hứng từ phong cách hiện đại, giúp bạn tạo nên dấu ấn riêng.</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Khám phá thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Trẻ em</h4>
                                        <span>Thời trang đẹp nhất cho trẻ em</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Trẻ em</h4>
                                            <p>Chất lượng vượt trội và thiết kế tinh tế, lựa chọn hoàn hảo cho bạn.</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Khám phá thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Phụ kiện</h4>
                                        <span>Xu hướng phụ kiện mới nhất</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Phụ kiện</h4>
                                            <p>Khám phá xu hướng mới, tôn vinh vẻ đẹp và phong cách của riêng bạn.</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Khám phá thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Main Banner Area End ***** -->
<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Sản Phẩm Nam Mới Nhất</h2>
                    <span>Chi tiết trong từng sản phẩm là điều làm FashionShop nổi bật so với các trang khác.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/men-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Ga Ba Na</h4>
                                <span>2.800.000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-02.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="assets/images/men-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Air Force 1 X</h4>
                                <span>2.100.000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-03.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="assets/images/men-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Đôn Chề</h4>
                                <span>3.500.000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="assets/images/men-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Ga Ba Na</h4>
                                <span>2.800.000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Men Area Ends ***** -->
<!-- ***** Women Area Starts ***** -->
<section class="section" id="women">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Bộ Sưu Tập Nữ Mới Nhất</h2>
                    <span>Sự tinh tế trong từng chi tiết tạo nên sự khác biệt của FashionShop.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="women-item-carousel">
                    <div class="owl-women-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo Khoác Xanh Mới</h4>
                                <span>1,800,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-02.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Váy Đầm Cổ Điển</h4>
                                <span>1,100,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-03.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Bộ Sưu Tập Mùa Xuân</h4>
                                <span>3,200,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Bộ Sưu Tập Xuân Cổ Điển</h4>
                                <span>2,900,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Women Area Ends ***** -->
<!-- ***** Kids Area Starts ***** -->
<section class="section" id="kids">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Bộ Sưu Tập Trẻ Em</h2>
                    <span>Chú trọng vào từng chi tiết, FashionShop tạo nên sự khác biệt trong phong cách thời trang.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kid-item-carousel">
                    <div class="owl-kid-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Bộ Sưu Tập Đi Học</h4>
                                <span>80.000₫</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-02.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Mũ Mùa Hè</h4>
                                <span>12.000₫</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-03.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Trang Phục Cổ Điển</h4>
                                <span>30.000₫</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Bộ Sưu Tập Xuân</h4>
                                <span>120.000₫</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Kids Area Ends ***** -->
<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Khám Phá Sản Phẩm Của Chúng Tôi</h2>
                    <span>Bạn có thể sử dụng mẫu HTML CSS thời trang này. Bạn có thể tự do sửa đổi hoặc chỉnh sửa bố cục này. Bạn có thể chuyển đổi mẫu này thành bất kỳ loại giao diện thương mại điện tử nào theo ý bạn.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Bạn không được phép phân phối tệp ZIP của mẫu này trên bất kỳ trang web nào khác.</p>
                    </div>
                    <p>Có 5 trang được bao gồm trong Mẫu FashionShop này và chúng tôi cung cấp cho bạn hoàn toàn miễn phí trên trang web TemplateMo của chúng tôi. Chúng tôi có các chi phí phát triển web để duy trì.</p>
                    <p>Nếu mẫu này hữu ích cho trang web hoặc doanh nghiệp của bạn, xin vui lòng <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">ủng hộ chúng tôi</a> một chút qua PayPal. Hãy cho bạn bè của bạn biết về trang web tuyệt vời của chúng tôi. Xin cảm ơn.</p>
                    <div class="main-border-button">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Khám Phá Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Túi Da</h4>
                                <span>Bộ Sưu Tập Mới Nhất</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/assets/images/explore-image-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="~/assets/images/explore-image-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Các Loại Khác Nhau</h4>
                                <span>Hơn 304 Sản Phẩm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
<!-- ***** Social Area Starts ***** -->
<section class="section" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Mạng Xã Hội</h2>
                    <span>Chi tiết làm cho FashionShop khác biệt so với các giao diện khác.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Thời Trang</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-01.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Mới</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-02.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Thương Hiệu</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-03.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Trang Điểm</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-04.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Da</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-05.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Túi</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-06.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Social Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>Bằng cách đăng ký nhận bản tin, bạn có thể nhận được giảm giá 30%</h2>
                    <span>Chi tiết làm cho FashionShop khác biệt so với các giao diện khác.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Tên Của Bạn" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="email" type="email" id="email" placeholder="Địa Chỉ Email Của Bạn" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Địa Điểm Cửa Hàng:<br><span>Sunny Isles Beach, FL 33160, Hoa Kỳ</span></li>
                            <li>Điện Thoại:<br><span>010-020-0340</span></li>
                            <li>Địa Điểm Văn Phòng:<br><span>North Miami Beach</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Giờ Làm Việc:<br><span>07:30 AM - 9:30 PM Hàng Ngày</span></li>
                            <li>Email:<br><span>info@company.com</span></li>
                            <li>Mạng Xã Hội:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->


<footer>
    <div class="container">
    
    </div>
</footer>

<script>
    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);
        });
    });
</script>




