@using Microsoft.AspNetCore.Identity
@using FashionShop.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    
    ViewData["Title"] = "Home Page"; 
    
}
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/flex-slider.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/font-awesome.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/lightbox.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/owl-carousel.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/css/templatemo-hexashop.css" asp-append-version="true" />
<link rel="stylesheet" href="~/assets/js/overLay.js" asp-append-version="true" />

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are FashionShop</h4>
                            <span>New, Creative & Stylish Fashion.</span>
                            <div class="main-border-button">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="AboutOur">About Our</a>
                            </div>
                        </div>
                        <img src="~/assets/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Women</h4>
                                        <span>Most Beautiful Fashion for Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Women</h4>
                                            <p>High fashion helps you shine with confidence in every moment.</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Discover more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Men</h4>
                                        <span>Most Beautiful Fashion for Men</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <p>Inspired by modern style, helping you create your own signature.</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kid</h4>
                                        <span>The best fashion for children.</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Kid</h4>
                                            <p>Exceptional quality and elegant design, the perfect choice for you..</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Khám phá thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accessory</h4>
                                        <span>The latest accessory trends.</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Accessory</h4>
                                            <p>Explore new trends that celebrate your beauty and personal style.</p>
                                            <div class="main-border-button">
                                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Khám phá thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Main Banner Area End ***** -->
<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Latest Men's Products</h2>
                    <span>The details in each product make FashionShop stand out from other stores.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/men-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Casual Jacket</h4>
                                <span>2,800,000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-02.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="assets/images/men-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Air Force 1 X</h4>
                                <span>2,100,000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-03.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="assets/images/men-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Stylish Sneakers</h4>
                                <span>3,500,000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/men-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="assets/images/men-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Casual Jacket</h4>
                                <span>2,800,000 VNĐ</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Men Area Ends ***** -->
<!-- ***** Women Area Starts ***** -->
<section class="section" id="women">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Latest Women's Collection</h2>
                    <span>Elegance in every detail makes FashionShop stand out.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="women-item-carousel">
                    <div class="owl-women-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>New Blue Jacket</h4>
                                <span>1,800,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-02.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Classic Dress</h4>
                                <span>1,100,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-03.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Spring Collection</h4>
                                <span>3,200,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/women-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/women-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Classic Spring Collection</h4>
                                <span>2,900,000 VND</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Women Area Ends ***** -->
<!-- ***** Kids Area Starts ***** -->
<section class="section" id="kids">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Kids Collection</h2>
                    <span>Focused on every detail, FashionShop creates a unique fashion style.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kid-item-carousel">
                    <div class="owl-kid-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Back to School Collection</h4>
                                <span>$80.000</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-02.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Summer Hat</h4>
                                <span>$12.000</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-03.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Classic Outfit</h4>
                                <span>$30.000</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="~/assets/images/kid-01.jpg"><i class="fa fa-eye"></i></a></li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-star"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-star"></i></a>
                                            }
                                        </li>
                                        <li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (UserManager.GetUserAsync(User).Result.EmailConfirmed)
                                                {
                                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else
                                                {
                                                }
                                            }
                                            else
                                            {
                                                <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/kid-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Spring Collection</h4>
                                <span>$120.000</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Kids Area Ends ***** -->
<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Fashion Collection</h2>
                    <span>Discover the latest trends and styles in our fashion shop. Feel free to browse and find the perfect outfit for any occasion.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Our styles are exclusive—wear them with pride!</p>
                    </div>
                    <p>This FashionShop features 5 stunningly crafted pages that reflect the latest trends in the fashion industry, all available for free on our TemplateMo website. Your support helps us continue to showcase fresh styles and innovative designs.</p>
                    <p>If you find perfect for showcasing your fashion collections or online store, please consider <a rel="nofollow" href="#" target="_blank">supporting us</a> . Share our website with your fashion-savvy friends so they can also discover exquisite styles and deals. Thank you for joining our fashion journey!</p>
                    <div class="main-border-button">

                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CheckOurProduct">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Leather Bags</h4>
                                <span>Newest Collection</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/assets/images/explore-image-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="~/assets/images/explore-image-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Various Types</h4>
                                <span>Over 304 Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
<!-- ***** Social Area Starts ***** -->
<section class="section" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Social Media</h2>
                    <span>Details make FashionShop stand out from other interfaces.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Fashion</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-01.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>New</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-02.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Brand</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-03.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Makeup</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-04.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Leather</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-05.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Bags</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-06.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Social Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>By subscribing to our newsletter, you can receive a 30% discount</h2>
                    <span>Details make FashionShop stand out from other interfaces.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="email" type="email" id="email" placeholder="Your Email Address" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>Dong Da, Ha Noi</span></li>
                            <li>Phone:<br><span>012-345-678</span></li>
                            <li>Office Location:<br><span>Cau Giay</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Working Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                            <li>Email:<br><span>FashionShop@company.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">LinkedIn</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->



<footer>
    <div class="container">
    
    </div>
</footer>

<script>
    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);
        });
    });

});


</script>




